/*
HEADER

  */
header{
    background-color:lightslategrey;
    height: 70px;

}
header *{
    color: #fff;
}
header h1{

    margin-top: 13px;
}
header h1 a{
    color: #ffffff;
    text-decoration: none;
}

header h1 a:hover{
    color: #ffffff;
}

header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
header ul li{
    float: left;
    position: relative;
}
header ul li a{
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    padding: 22px;
}

header ul li a:hover{
    background: #006669;
    transition: 0.5s;
    color:#fff;
}

header ul li ul{
    position: absolute;
    top: 70px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}

header ul li:hover ul{
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a{
    padding: 10px;
    background: white;
    color: #006669;

}
/**Header end

 */
/*Footer*/

.footer{
    background: #303036;
    color: #d3d3d3;
    position: relative;

}

.footer .footer-section{
    padding: 20px;
}

.footer h3, .footer h4{
    color: white;
}

.footer .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .about .socials a{
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
    color: #ffffff;
}

.footer .about .socials a:hover{
    border: 1px solid white;
    color: white;
    transition: all .3s;
}

.footer.links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
    color: #ffffff;
    text-decoration: none;
}

.footer .links ul a:hover{
    color: white;
    margin-left: 15px;
    transition: all .3s;
}

.footer .contact-form .contact-input{
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}
.footer .contact-form .contact-input:focus{
    background: #1a1a1a;
}

.footer .contact-form .contact-btn{
    float: right;
    font-size: 1.1em;
    font-family: 'Lora',serif;
}

.footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;

}
/** Footer end


 */

*{
    font-family: 'Comfortaa', cursive;
}
.h1,h2,h3,h3,h4,h5,h6,html
{
    color: #5c5b5b;
}
.body{
    background: #f6f6f6;
}
a{
    text-decoration: none;
    color:inherit ;
}


/**Sidebar

 */

.sidebar{
    border-bottom-color: red;
    margin: 1.5rem 0;
    min-height: 600px;
    box-shadow:2px 1px 1px 6px rgba(0,0,0,.25);
}
.sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

.sidebar ul a{
    padding: 18px;
    display: block;
    border-bottom: 1px solid #000000;
}

.sidebar ul a:hover{
    padding-left: 10px;
    transition: all 0.3s;
    color: #d3d3d3;
    text-decoration: none;

}

.posts{
    height: 100%;
    padding: 40px 100px 100px;
}

.posts h2{
    text-align: center;
    margin: 2rem 0rem 0rem 0.4rem;
    padding-bottom: 25px;
}

.posts.title-table div{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}

.posts .post div{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}
.row post editBtn{
    color: green;
}

.errMsg{
    color: red;
    font-size: 15px;
    font-family: 'Comfortaa', cursive
}
.red{
    color: green;
}

.del{
    color: red;
}

.redHref:hover{
    font-size: 25px;
    transition: 0.2s;
    color: green;
}
.delHref:hover{
    font-size: 14px;
    transition: 0.5s;
    color: red;
}




